/* CSS */

body {
	color: #fff;
	font-size: 16px;
	font-family: 'segoeui';
	line-height: 1.5em;
	margin: 0;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	opacity: 0.8;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

img {
	max-width: 100%;
}

.text-yellow{
	color: #f2cd00 ;
}

$color-black:#252525;
$color-yellow:#f2cd00;
$color-white:#f5f5f5;
$color-blue:#2d4660;

$font-segoeui: "segoeui";
$font-segoeuib: "segoeuib";
$font-seguisb: "seguisb";

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1200px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}

.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
	.content {
		text-align: left
	}
}

.navmobile {
	background: $color-black;
	width: 60px;
	padding: 5px;
	text-align: center;
	position: absolute;
	right: 10px;
	margin-top: 10px;
	span {
		background: $color-yellow;
		width: 100%;
		display: block;
		height: 4px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
}

.supertop {
	background: $color-black;
	color: $color-white;	
	font-size: 12px;
}

.topmenu {
	background: #fff;
	width: 100%;
	border-bottom: $color-yellow solid 1px;
	overflow: hidden;
	.mainlogo {
		float: left;
		max-width: 220px;
		margin-top: 12px;
		margin-bottom: 12px;
	}
	ul {
		font-size: 12px;
		float: right;
		margin-top: 15px;
		li {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			a {
				padding-left: 7px;
				padding-right: 7px;
				padding-top: 16px;
				padding-bottom: 16px;
				border-bottom: #fff solid 7px;
				color: $color-black;
			}
			a:hover {
				color: $color-black;
				border-bottom:$color-yellow solid 7px;
				text-decoration: none;
			}
		}
	}
	.content {
		text-align: left;		
	}
}
/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}

.mainbaner {
	margin-bottom: 25px;
	img {
		width: 100%;
		max-width: none;
	}
	.maintitle {
		top: 23%;
		left: 0;
		right: 0;
		position: absolute;
		color: #fff;
		font-size: 54px;
		width: 100%;
		text-align: center;
		border-left: 0;
		padding: 0;
		hr {
			max-width: 690px;
			border: none;
			border-top: $color-yellow solid 3px;
		}
	}
	.joinus {
		background: $color-yellow;
		color: $color-black;	
		font-size: 28px;
		position: absolute;
		bottom: 15%;
		font-family: $font-segoeuib;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		width: 230px;
		padding: 15px 20px;

		@media screen and (max-width: 50em){
			width: 200px;
			font-size: 22px;

		}
	}
	.responsive-slider .slider-control {
		background: $color-black;
		color: #fff;
		border-radius: 0;
	}
	.responsive-slider .slider-control:hover {
		background: $color-yellow;
	}
	.responsive-slider .slider-control.left {
		padding-left: 12px;
		padding-top: 16px;
	}
	.responsive-slider .slider-control.right {
		padding-right: 12px;
		padding-top: 16px;
	}
}

.bgyellow {
	background: $color-yellow;
}

.linebaner {
	display: block;
	overflow: hidden;
	.item {
		float: left;
		width: 25%;
		height: 12px;
		background: $color-black;
	}
	.item.bgyellow {
		background: $color-yellow;
	}
}

.maintitle {
	border-left: $color-yellow solid 3px;
	color: $color-black;
	padding-left: 10px;
	font-family: $font-segoeuib;
	margin-bottom: 55px;
	h5 {
		font-size: 22px;
		margin: 0;
		line-height: 17px;
		margin-bottom: 7px;
	}
	h2 {
		margin: 0;
		font-size: 23px;
		line-height: 1.5em;
		@meadia screen and (min-width: 48em){
			font-size: 36px;
		line-height: 30px;
		}
		
	}
}

.wrpcontent-program {

	.content-noline{
		margin-bottom: 20px;
	}
	.wrapper {
		text-align: left;
	}
	.item-content {
		margin-top: 20px;
		margin-bottom: 50px;
		.title {
			color: $color-black;
			.imgoval {
				height: auto;
				text-align: center;
				float: left;				
				margin-right: 25px;
				max-width: 45px;
				overflow: hidden;
				@media screen  and (min-width: 62em){
					margin-left: 60px;
					margin-right: 60px;
					max-width: 120px;
				}
			}
			.txt {
				border-left: $color-yellow solid 7px;
				color: $color-black;
				overflow: hidden;
				padding: 10px;
				padding-left: 22px;
				font-size: 23px;
				line-height: 1.3em;
				font-family: $font-seguisb;
				@media screen and (min-width: 62em){
					padding: 20px;
					font-size: 30px;
					padding-left: 35px;
				}

				.small{
					font-size: 20px;
					font-weight: 400;
				}

				@media screen and (max-width: 32em){
					font-size: 18px;
					line-height: 1.5em;
				}
			}
		}
		.content {
			border:$color-yellow solid 1px;
			overflow: hidden;
			clear: left;
			color: $color-black;
			margin-left: 285px;
			padding: 15px 25px;
			font-family: $font-seguisb;
			color: $color-black;
			font-size: 18px;
			position: relative;
			h5 {
				font-size: 20px;
			}
		}
		.top-one {
			top: 0px;
			left: -25px;
		}
		.top-two {
			top: 20px;
		}
		.left-25 {
			left: -25px;
		}
		.top-25 {
			top: -15px;
		}
		.content-custom {
			color: $color-black;
			clear: left;
			position: relative;
			overflow: hidden;
			margin-left: 285px;
			font-family: $font-seguisb;
		}
		.custom2 {
			height: 70px;
			overflow: hidden;
			display: block;
			position: relative;
			top: 30px;
		}
		ul.check {
			padding-bottom: 0;
			li {
				text-align: left;
				background: url("../images/check.png") no-repeat left 5px;
				padding-left: 30px;
				font-size: 18px;
				margin-bottom: 10px;
			}
			li:last-child {
				margin-bottom: 0;
			}
		}

		.labelbox {
			display: inline-block;
			margin-left: 30px;
			margin-right: 30px;
			font-size: 18px;
			font-family: $font-segoeuib;
			vertical-align: middle;
			margin-top: 17%;
		}
		.boxcontent {
			width: 100%;
			max-width: 304px;
			border:$color-yellow solid 1px;
			padding: 20px;
			display: inline-block;
			font-size: 14px;
			vertical-align: top;
			ul {
				padding-top: 30px;
				padding-bottom: 41px;
				li {
					margin-bottom: 5px;
					text-align: center;
				}
			}
			h5 {
				font-size: 18px;
				margin: 0 auto;
				display: block;
				text-align: center;	
				max-width: 200px;
			}
			ul.check {
				padding-bottom: 0;
				li {
					text-align: left;
					background: url("../images/check.png") no-repeat left 5px;
					padding-left: 30px;
					display: block;
					width: auto;
					font-family: $font-seguisb;
					font-size: 14px;
				}
				li:last-child {
					margin-bottom: 0;
				}
			}
		}
		.item-half {
			text-align: left;
			h3 {
				font-size: 27px;
				text-align: center;
			}
		}
		.fullcontent {
			margin-top: 20px;
		}
	}
}

.wrp-testimoni {
	overflow: hidden;
	background: url("../images/bgtestimoni.jpg") center;
	@extends .bgcover;
	.title {
		float: left;
		margin-top: 70px;
		margin-bottom: 70px;
		.fa {
			display: block;
			font-size: 90px;
			text-align: center;
			color: $color-yellow;
		}
		span {
			display: block;
			font-family: $font-segoeuib;
			color: #fff;
			border-left: $color-yellow solid 3px;
			line-height: 35px;
			font-size: 35px;
			padding-left: 10px;
			margin-top: 0px;
		}
	}
	.val-testimoni {
		float: left;
	}
	.util-theme-default .util-navigation {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	.util-theme-default .util-prev, .util-theme-default .util-next {
		background-color: $color-black;
		padding: 8px 12px;
		margin: 0;
		font-size: 17px;
		border-radius: 0;
	}
	.util-theme-default .util-prev:hover, .util-theme-default .util-next:hover {
		background-color: $color-yellow;
	}
}

.val-testimoni {
	margin-top: 40px;
	.nametitle {
		font-size: 18px;
		font-family: $font-seguisb;
		display: inline-block;
		margin-bottom: 20px;

		figure{
			border-radius: 100%;
			width: 94px;
			overflow: hidden;
			float: left;
			margin-right: 25px;
		}
		img {
			border-radius: 100%;
		}
		.name {
			color: #fff;
			border-left: $color-yellow solid 3px;		
			margin-top: 20px;
			padding-left: 15px;	
			font-weight: normal;
			padding-top: 5px;
			padding-bottom: 5px;
			font-family: $font-seguisb;
			display: block;
			overflow: hidden;

			small{
				font-size: 0.8em;
				display: block;
			}
		}
	}
	.content {
		display: inline-block;
		line-height: normal;
		font-size: 12px;
	}
}

.wrp-investasi {
	color: $color-black;
	padding-top: 30px;
	padding-bottom: 30px;
	.wrapper {
		text-align: left;
	}
	.main-title {
		border-left: $color-yellow solid 3px;
		font-family: $font-segoeuib;
		font-size: 27px;
		padding-left: 20px;
		line-height: 40px;
		display: block;
		margin-bottom: 50px;
		@media screen and (min-width: 48em){
			font-size: 36px;
		}
	}
	.content {
		h4 {
			font-size: 30px;
			font-family: $font-segoeuib;
			display: block;text-align: center;

			@media screen and (max-width: 48em){
				font-size: 21px;
				line-height: 1.5em;
				margin-bottom: 30px;
			}
		}
	}
	.diamond {
		.top, .bottom {
			background: #22a897;
			color: #fff;
		}
		.left {
			text-align: left !important
		}
		.superbottom {
			background: #107568;
			color: #fff;
		}
	}
	.platinum {
		.top, .bottom {
			background: #212121;
			color: #fff;
		}
		.left {
			text-align: left !important;
		}
		.superbottom {
			background: #080808;
			color: #fff;
		}
	}
	.gold {
		.top, .bottom {
			background: #bd9417;
			color: #fff;
		}
		.left {
			text-align: left !important
		}
		.superbottom {
			background: #987407;
			color: #fff;
		}

	}
	.wrp-itemtabel {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
		text-align: center;
	}
	.item-tabel {
		display: inline-block;
		border:#000 solid 1px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: left;
		max-width: 303px;
		vertical-align: top;
		.top {
			font-size: 36px;
			font-family: $font-segoeuib;
			padding: 30px 20px;
			text-align: center;

		}
		.center {
			font-size: 12px;
			padding-left: 10px;
			padding-right: 10px;	
			padding-top: 15px;
			padding-bottom: 15px;
			ul {
				li {
					background: url("../images/check.png") left 5px no-repeat;
					padding-left: 23px;
					text-align: left;
				}
			}
		}
		.bottom {
			padding: 7px 10px;
			text-align: center;
			font-size: 20px;
			line-height: normal;
		}
		.superbottom {
			padding: 12px 10px;
			font-size: 21px;
		}
	}
}

.content-noline{
	overflow: hidden;
	clear: left;
	color: $color-black;
	font-family: $font-seguisb;
	color: $color-black;
	font-size: 16px;
	position: relative;
	@media screen and (min-width: 62em){
		margin-left: 285px;
		font-size: 18px;
	}
	h5 {
		font-size: 18px;
		@media screen and (min-width: 62em){
			font-size: 20px;
		}
		margin-bottom: 18px;
		line-height: 1.4em
	}	
}

.content-line{
	border:$color-yellow solid 1px;
	overflow: hidden;
	clear: left;
	color: $color-black;
	padding: 25px;
	font-family: $font-seguisb;
	color: $color-black;
	font-size: 18px;
	position: relative;
}

.member-list{
	text-align: center;
	li{
		display: inline-block;
		padding: 0 5px;
		max-width: 160px;
		margin-bottom: 20px;
		vertical-align: top;

		@media screen and (max-width: 48em){
			max-width: none;
			width: 48%;
		}

		figure{
			margin-bottom: 8px;
		}
		.name{
			display: block;
			font-size: 17px;
		}
	}
}

/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
}
.wrppetalamat {
	display: block;
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252525+0,252525+50,f2cd00+50,f2cd00+100 */
	background: #252525; /* Old browsers */
	background: -moz-linear-gradient(left, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#252525), color-stop(50%,#252525), color-stop(50%,#f2cd00), color-stop(100%,#f2cd00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #252525 0%,#252525 50%,#f2cd00 50%,#f2cd00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #252525 0%,#252525 50%,#f2cd00 50%,#f2cd00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #252525 0%,#252525 50%,#f2cd00 50%,#f2cd00 100%); /* IE10+ */
	background: linear-gradient(to right, #252525 0%,#252525 50%,#f2cd00 50%,#f2cd00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#f2cd00',GradientType=1 ); /* IE6-9 */	
	.wrapper {
		text-align: left;
	}
	.peta, .alamat {
		padding: 15px;
		@media screen and (min-width: 50em){
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 30px;
			padding-right: 30px;
			min-height: 100px;
		}
		.title {
			
			font-family: $font-segoeuib;
			text-align: left;
			font-size: 25px;
			line-height: 1.4em;
			margin-bottom: 20px;
			@media screen and (min-width: 50em){
				font-size: 36px;
				line-height: 33px;
				padding-left: 10px;
			}
		}
	}
	.peta {
		.title {
			@media screen and (min-width: 50em){
				border-left: $color-yellow solid 3px;
			}
			columns: #fff;
		}
		.map {
			color: #fff;
			font-size: 17px;
		}
	}
	.alamat {
		.title {
			border-left: $color-black solid 3px;
			color: $color-black;
		}
		.address {
			font-size: 12px;
			color: $color-black;
			line-height: 17px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.socmed {
			margin-bottom: 30px;
			a {
				float: left;
				background: #686868;
				color: #fff;
				font-size: 17px;
				width: 27px;
				height: 27px;
				border-radius: 50%;
				margin-right: 7px;
				text-align: center;
				padding-top: 6px;
			}
		}
	}
}
.copyright {
	font-size: 12px;
	text-align: center;
	color: $color-black;
	padding: 14px;
}

/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
	#headerweb {
		.content {
			text-align: center;
		}
	}
	.mainbaner {
		.maintitle {
			display: none;
		}
	}
	.wrp-testimoni {
		background: url("../images/bgtestimoni.jpg") center center $color-black no-repeat;	
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		.title {
			display: none;
		}
	}
	.wrppetalamat {
		background: $color-yellow;
	}
	.wrpcontent-program .item-content .custom2 {
		height: auto;;
	}
	.topmenu {
		ul {
			display: none;
			float: left;
			width: 100%;
			li {
				display: block;
				width: 100%;
				padding: 0;
				text-align: left;
				a {
					padding: 0;
				}
				a:hover {
					border: none;
				}
			}
		}
	}
	.wrpcontent-program {
		.item-content {
			.boxcontent {
				max-width: none;
				h5 {
					max-width: none;
				}
			}
			.item-half {
				text-align: center;
			}
			.labelbox {
				margin-top: 20px;
				margin-bottom: 20px;
				display: block;
				text-align: center;
			}
			.content, .content-custom {
				margin-left: 0;
			}
			.left-25, .top-15, .top-one {
				left: 0;
				top: 0;
			}
			.title {
				overflow: hidden;
				margin-bottom: 30px;
			}
		}
	}
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
	.topmenu {
		ul {
			li {
				margin-left: 0px;
				margin-right: 0px;
			}
		}
		.mainlogo {
			max-width: 180px;
		}
	}
	.mainbaner {
		.maintitle {
			font-size: 30px;
			hr {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	.wrpcontent-program {
		.item-content {
			.boxcontent {
				max-width: none;
				h5 {
					max-width: none;
				}
			}
			.item-half {
				text-align: center;
			}
			.labelbox {
				margin-top: 20px;
				margin-bottom: 20px;
				display: block;
				text-align: center;
			}
			.content, .content-custom {
				margin-left: 0;
			}
			.left-25, .top-15, .top-one {
				left: 0;
				top: 0;
			}
			.title {
				overflow: hidden;
				margin-bottom: 30px;
			}
		}
	}
	.wrp-testimoni {
		background: url("../images/bgtestimoni.jpg") bottom center no-repeat $color-black;
		.title {
			float: none;
			text-align: center;
			span {
				border-left: none;
			}
		}
	}
}

/* Desktop small screen */
@media (min-width: 992px) and (max-width: 1999px){
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

