/* CSS */
/* line 3, ../scss/style.scss */
body {
  color: #fff;
  font-size: 16px;
  font-family: 'segoeui';
  line-height: 1.5em;
  margin: 0; }

/* line 11, ../scss/style.scss */
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 18, ../scss/style.scss */
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s; }

/* line 25, ../scss/style.scss */
a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s; }

/* line 34, ../scss/style.scss */
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s; }

/* line 44, ../scss/style.scss */
.clear {
  clear: both; }

/* line 48, ../scss/style.scss */
.alpha {
  padding-left: 0 !important; }

/* line 52, ../scss/style.scss */
.omega {
  padding-right: 0 !important; }

/* line 56, ../scss/style.scss */
.no-padding {
  padding: 0 !important; }

/* line 60, ../scss/style.scss */
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%; }

/* line 66, ../scss/style.scss */
img.border:hover, img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s; }

/* line 75, ../scss/style.scss */
img {
  max-width: 100%; }

/* line 79, ../scss/style.scss */
.text-yellow {
  color: #f2cd00; }

/* line 92, ../scss/style.scss */
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px; }

/* line 93, ../scss/style.scss */
.imgwrp img {
  max-width: 100%; }

/* line 95, ../scss/style.scss */
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

/* line 100, ../scss/style.scss */
.space20 {
  height: 20px;
  display: block;
  width: 100%; }

/* line 105, ../scss/style.scss */
.space30 {
  height: 30px;
  display: block;
  width: 100%; }

/* line 110, ../scss/style.scss */
.space45 {
  height: 45px;
  display: block;
  width: 100%; }

/* line 115, ../scss/style.scss */
.space60 {
  height: 60px;
  display: block;
  width: 100%; }

/* --------------------- HEADER LAYOUT --------------------- */
/* line 121, ../scss/style.scss */
#headerweb .content {
  text-align: left; }

/* line 126, ../scss/style.scss */
.navmobile {
  background: #252525;
  width: 60px;
  padding: 5px;
  text-align: center;
  position: absolute;
  right: 10px;
  margin-top: 10px; }
  /* line 134, ../scss/style.scss */
  .navmobile span {
    background: #f2cd00;
    width: 100%;
    display: block;
    height: 4px;
    margin-top: 3px;
    margin-bottom: 3px; }

/* line 144, ../scss/style.scss */
.supertop {
  background: #252525;
  color: #f5f5f5;
  font-size: 12px; }

/* line 150, ../scss/style.scss */
.topmenu {
  background: #fff;
  width: 100%;
  border-bottom: #f2cd00 solid 1px;
  overflow: hidden; }
  /* line 155, ../scss/style.scss */
  .topmenu .mainlogo {
    float: left;
    max-width: 220px;
    margin-top: 12px;
    margin-bottom: 12px; }
  /* line 161, ../scss/style.scss */
  .topmenu ul {
    font-size: 12px;
    float: right;
    margin-top: 15px; }
    /* line 165, ../scss/style.scss */
    .topmenu ul li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px; }
      /* line 169, ../scss/style.scss */
      .topmenu ul li a {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: #fff solid 7px;
        color: #252525; }
      /* line 177, ../scss/style.scss */
      .topmenu ul li a:hover {
        color: #252525;
        border-bottom: #f2cd00 solid 7px;
        text-decoration: none; }
  /* line 184, ../scss/style.scss */
  .topmenu .content {
    text-align: left; }

/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
/* line 195, ../scss/style.scss */
.mainbaner {
  margin-bottom: 25px; }
  /* line 197, ../scss/style.scss */
  .mainbaner img {
    width: 100%;
    max-width: none; }
  /* line 201, ../scss/style.scss */
  .mainbaner .maintitle {
    top: 23%;
    left: 0;
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 54px;
    width: 100%;
    text-align: center;
    border-left: 0;
    padding: 0; }
    /* line 212, ../scss/style.scss */
    .mainbaner .maintitle hr {
      max-width: 690px;
      border: none;
      border-top: #f2cd00 solid 3px; }
  /* line 218, ../scss/style.scss */
  .mainbaner .joinus {
    background: #f2cd00;
    color: #252525;
    font-size: 28px;
    position: absolute;
    bottom: 15%;
    font-family: "segoeuib";
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 230px;
    padding: 15px 20px; }
    @media screen and (max-width: 50em) {
      /* line 218, ../scss/style.scss */
      .mainbaner .joinus {
        width: 200px;
        font-size: 22px; } }
  /* line 239, ../scss/style.scss */
  .mainbaner .responsive-slider .slider-control {
    background: #252525;
    color: #fff;
    border-radius: 0; }
  /* line 244, ../scss/style.scss */
  .mainbaner .responsive-slider .slider-control:hover {
    background: #f2cd00; }
  /* line 247, ../scss/style.scss */
  .mainbaner .responsive-slider .slider-control.left {
    padding-left: 12px;
    padding-top: 16px; }
  /* line 251, ../scss/style.scss */
  .mainbaner .responsive-slider .slider-control.right {
    padding-right: 12px;
    padding-top: 16px; }

/* line 257, ../scss/style.scss */
.bgyellow {
  background: #f2cd00; }

/* line 261, ../scss/style.scss */
.linebaner {
  display: block;
  overflow: hidden; }
  /* line 264, ../scss/style.scss */
  .linebaner .item {
    float: left;
    width: 25%;
    height: 12px;
    background: #252525; }
  /* line 270, ../scss/style.scss */
  .linebaner .item.bgyellow {
    background: #f2cd00; }

/* line 275, ../scss/style.scss */
.maintitle {
  border-left: #f2cd00 solid 3px;
  color: #252525;
  padding-left: 10px;
  font-family: "segoeuib";
  margin-bottom: 55px; }
  /* line 281, ../scss/style.scss */
  .maintitle h5 {
    font-size: 22px;
    margin: 0;
    line-height: 17px;
    margin-bottom: 7px; }
  /* line 287, ../scss/style.scss */
  .maintitle h2 {
    margin: 0;
    font-size: 23px;
    line-height: 1.5em; }
@meadia screen and (min-width: 48em) {
  /* line 287, ../scss/style.scss */
  .maintitle h2 {
    font-size: 36px;
    line-height: 30px; } }
/* line 301, ../scss/style.scss */
.wrpcontent-program .content-noline {
  margin-bottom: 20px; }
/* line 304, ../scss/style.scss */
.wrpcontent-program .wrapper {
  text-align: left; }
/* line 307, ../scss/style.scss */
.wrpcontent-program .item-content {
  margin-top: 20px;
  margin-bottom: 50px; }
  /* line 310, ../scss/style.scss */
  .wrpcontent-program .item-content .title {
    color: #252525; }
    /* line 312, ../scss/style.scss */
    .wrpcontent-program .item-content .title .imgoval {
      height: auto;
      text-align: center;
      float: left;
      margin-right: 25px;
      max-width: 45px;
      overflow: hidden; }
      @media screen and (min-width: 62em) {
        /* line 312, ../scss/style.scss */
        .wrpcontent-program .item-content .title .imgoval {
          margin-left: 60px;
          margin-right: 60px;
          max-width: 120px; } }
    /* line 325, ../scss/style.scss */
    .wrpcontent-program .item-content .title .txt {
      border-left: #f2cd00 solid 7px;
      color: #252525;
      overflow: hidden;
      padding: 10px;
      padding-left: 22px;
      font-size: 23px;
      line-height: 1.3em;
      font-family: "seguisb"; }
      @media screen and (min-width: 62em) {
        /* line 325, ../scss/style.scss */
        .wrpcontent-program .item-content .title .txt {
          padding: 20px;
          font-size: 30px;
          padding-left: 35px; } }
      /* line 340, ../scss/style.scss */
      .wrpcontent-program .item-content .title .txt .small {
        font-size: 20px;
        font-weight: 400; }
      @media screen and (max-width: 32em) {
        /* line 325, ../scss/style.scss */
        .wrpcontent-program .item-content .title .txt {
          font-size: 18px;
          line-height: 1.5em; } }
  /* line 351, ../scss/style.scss */
  .wrpcontent-program .item-content .content {
    border: #f2cd00 solid 1px;
    overflow: hidden;
    clear: left;
    color: #252525;
    margin-left: 285px;
    padding: 15px 25px;
    font-family: "seguisb";
    color: #252525;
    font-size: 18px;
    position: relative; }
    /* line 362, ../scss/style.scss */
    .wrpcontent-program .item-content .content h5 {
      font-size: 20px; }
  /* line 366, ../scss/style.scss */
  .wrpcontent-program .item-content .top-one {
    top: 0px;
    left: -25px; }
  /* line 370, ../scss/style.scss */
  .wrpcontent-program .item-content .top-two {
    top: 20px; }
  /* line 373, ../scss/style.scss */
  .wrpcontent-program .item-content .left-25 {
    left: -25px; }
  /* line 376, ../scss/style.scss */
  .wrpcontent-program .item-content .top-25 {
    top: -15px; }
  /* line 379, ../scss/style.scss */
  .wrpcontent-program .item-content .content-custom {
    color: #252525;
    clear: left;
    position: relative;
    overflow: hidden;
    margin-left: 285px;
    font-family: "seguisb"; }
  /* line 387, ../scss/style.scss */
  .wrpcontent-program .item-content .custom2 {
    height: 70px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 30px; }
  /* line 394, ../scss/style.scss */
  .wrpcontent-program .item-content ul.check {
    padding-bottom: 0; }
    /* line 396, ../scss/style.scss */
    .wrpcontent-program .item-content ul.check li {
      text-align: left;
      background: url("../images/check.png") no-repeat left 5px;
      padding-left: 30px;
      font-size: 18px;
      margin-bottom: 10px; }
    /* line 403, ../scss/style.scss */
    .wrpcontent-program .item-content ul.check li:last-child {
      margin-bottom: 0; }
  /* line 408, ../scss/style.scss */
  .wrpcontent-program .item-content .labelbox {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    font-family: "segoeuib";
    vertical-align: middle;
    margin-top: 17%; }
  /* line 417, ../scss/style.scss */
  .wrpcontent-program .item-content .boxcontent {
    width: 100%;
    max-width: 304px;
    border: #f2cd00 solid 1px;
    padding: 20px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
    /* line 425, ../scss/style.scss */
    .wrpcontent-program .item-content .boxcontent ul {
      padding-top: 30px;
      padding-bottom: 41px; }
      /* line 428, ../scss/style.scss */
      .wrpcontent-program .item-content .boxcontent ul li {
        margin-bottom: 5px;
        text-align: center; }
    /* line 433, ../scss/style.scss */
    .wrpcontent-program .item-content .boxcontent h5 {
      font-size: 18px;
      margin: 0 auto;
      display: block;
      text-align: center;
      max-width: 200px; }
    /* line 440, ../scss/style.scss */
    .wrpcontent-program .item-content .boxcontent ul.check {
      padding-bottom: 0; }
      /* line 442, ../scss/style.scss */
      .wrpcontent-program .item-content .boxcontent ul.check li {
        text-align: left;
        background: url("../images/check.png") no-repeat left 5px;
        padding-left: 30px;
        display: block;
        width: auto;
        font-family: "seguisb";
        font-size: 14px; }
      /* line 451, ../scss/style.scss */
      .wrpcontent-program .item-content .boxcontent ul.check li:last-child {
        margin-bottom: 0; }
  /* line 456, ../scss/style.scss */
  .wrpcontent-program .item-content .item-half {
    text-align: left; }
    /* line 458, ../scss/style.scss */
    .wrpcontent-program .item-content .item-half h3 {
      font-size: 27px;
      text-align: center; }
  /* line 463, ../scss/style.scss */
  .wrpcontent-program .item-content .fullcontent {
    margin-top: 20px; }

/* line 469, ../scss/style.scss */
.wrp-testimoni {
  overflow: hidden;
  background: url("../images/bgtestimoni.jpg") center;
  @extends .bgcover; }
  /* line 473, ../scss/style.scss */
  .wrp-testimoni .title {
    float: left;
    margin-top: 70px;
    margin-bottom: 70px; }
    /* line 477, ../scss/style.scss */
    .wrp-testimoni .title .fa {
      display: block;
      font-size: 90px;
      text-align: center;
      color: #f2cd00; }
    /* line 483, ../scss/style.scss */
    .wrp-testimoni .title span {
      display: block;
      font-family: "segoeuib";
      color: #fff;
      border-left: #f2cd00 solid 3px;
      line-height: 35px;
      font-size: 35px;
      padding-left: 10px;
      margin-top: 0px; }
  /* line 494, ../scss/style.scss */
  .wrp-testimoni .val-testimoni {
    float: left; }
  /* line 497, ../scss/style.scss */
  .wrp-testimoni .util-theme-default .util-navigation {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px; }
  /* line 502, ../scss/style.scss */
  .wrp-testimoni .util-theme-default .util-prev, .wrp-testimoni .util-theme-default .util-next {
    background-color: #252525;
    padding: 8px 12px;
    margin: 0;
    font-size: 17px;
    border-radius: 0; }
  /* line 509, ../scss/style.scss */
  .wrp-testimoni .util-theme-default .util-prev:hover, .wrp-testimoni .util-theme-default .util-next:hover {
    background-color: #f2cd00; }

/* line 514, ../scss/style.scss */
.val-testimoni {
  margin-top: 40px; }
  /* line 516, ../scss/style.scss */
  .val-testimoni .nametitle {
    font-size: 18px;
    font-family: "seguisb";
    display: inline-block;
    margin-bottom: 20px; }
    /* line 522, ../scss/style.scss */
    .val-testimoni .nametitle figure {
      border-radius: 100%;
      width: 94px;
      overflow: hidden;
      float: left;
      margin-right: 25px; }
    /* line 529, ../scss/style.scss */
    .val-testimoni .nametitle img {
      border-radius: 100%; }
    /* line 532, ../scss/style.scss */
    .val-testimoni .nametitle .name {
      color: #fff;
      border-left: #f2cd00 solid 3px;
      margin-top: 20px;
      padding-left: 15px;
      font-weight: normal;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: "seguisb";
      display: block;
      overflow: hidden; }
      /* line 544, ../scss/style.scss */
      .val-testimoni .nametitle .name small {
        font-size: 0.8em;
        display: block; }
  /* line 550, ../scss/style.scss */
  .val-testimoni .content {
    display: inline-block;
    line-height: normal;
    font-size: 12px; }

/* line 557, ../scss/style.scss */
.wrp-investasi {
  color: #252525;
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 561, ../scss/style.scss */
  .wrp-investasi .wrapper {
    text-align: left; }
  /* line 564, ../scss/style.scss */
  .wrp-investasi .main-title {
    border-left: #f2cd00 solid 3px;
    font-family: "segoeuib";
    font-size: 27px;
    padding-left: 20px;
    line-height: 40px;
    display: block;
    margin-bottom: 50px; }
    @media screen and (min-width: 48em) {
      /* line 564, ../scss/style.scss */
      .wrp-investasi .main-title {
        font-size: 36px; } }
  /* line 577, ../scss/style.scss */
  .wrp-investasi .content h4 {
    font-size: 30px;
    font-family: "segoeuib";
    display: block;
    text-align: center; }
    @media screen and (max-width: 48em) {
      /* line 577, ../scss/style.scss */
      .wrp-investasi .content h4 {
        font-size: 21px;
        line-height: 1.5em;
        margin-bottom: 30px; } }
  /* line 590, ../scss/style.scss */
  .wrp-investasi .diamond .top, .wrp-investasi .diamond .bottom {
    background: #22a897;
    color: #fff; }
  /* line 594, ../scss/style.scss */
  .wrp-investasi .diamond .left {
    text-align: left !important; }
  /* line 597, ../scss/style.scss */
  .wrp-investasi .diamond .superbottom {
    background: #107568;
    color: #fff; }
  /* line 603, ../scss/style.scss */
  .wrp-investasi .platinum .top, .wrp-investasi .platinum .bottom {
    background: #212121;
    color: #fff; }
  /* line 607, ../scss/style.scss */
  .wrp-investasi .platinum .left {
    text-align: left !important; }
  /* line 610, ../scss/style.scss */
  .wrp-investasi .platinum .superbottom {
    background: #080808;
    color: #fff; }
  /* line 616, ../scss/style.scss */
  .wrp-investasi .gold .top, .wrp-investasi .gold .bottom {
    background: #bd9417;
    color: #fff; }
  /* line 620, ../scss/style.scss */
  .wrp-investasi .gold .left {
    text-align: left !important; }
  /* line 623, ../scss/style.scss */
  .wrp-investasi .gold .superbottom {
    background: #987407;
    color: #fff; }
  /* line 629, ../scss/style.scss */
  .wrp-investasi .wrp-itemtabel {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center; }
  /* line 635, ../scss/style.scss */
  .wrp-investasi .item-tabel {
    display: inline-block;
    border: #000 solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 303px;
    vertical-align: top; }
    /* line 645, ../scss/style.scss */
    .wrp-investasi .item-tabel .top {
      font-size: 36px;
      font-family: "segoeuib";
      padding: 30px 20px;
      text-align: center; }
    /* line 652, ../scss/style.scss */
    .wrp-investasi .item-tabel .center {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px; }
      /* line 659, ../scss/style.scss */
      .wrp-investasi .item-tabel .center ul li {
        background: url("../images/check.png") left 5px no-repeat;
        padding-left: 23px;
        text-align: left; }
    /* line 666, ../scss/style.scss */
    .wrp-investasi .item-tabel .bottom {
      padding: 7px 10px;
      text-align: center;
      font-size: 20px;
      line-height: normal; }
    /* line 672, ../scss/style.scss */
    .wrp-investasi .item-tabel .superbottom {
      padding: 12px 10px;
      font-size: 21px; }

/* line 679, ../scss/style.scss */
.content-noline {
  overflow: hidden;
  clear: left;
  color: #252525;
  font-family: "seguisb";
  color: #252525;
  font-size: 16px;
  position: relative; }
  @media screen and (min-width: 62em) {
    /* line 679, ../scss/style.scss */
    .content-noline {
      margin-left: 285px;
      font-size: 18px; } }
  /* line 691, ../scss/style.scss */
  .content-noline h5 {
    font-size: 18px;
    margin-bottom: 18px;
    line-height: 1.4em; }
    @media screen and (min-width: 62em) {
      /* line 691, ../scss/style.scss */
      .content-noline h5 {
        font-size: 20px; } }

/* line 701, ../scss/style.scss */
.content-line {
  border: #f2cd00 solid 1px;
  overflow: hidden;
  clear: left;
  color: #252525;
  padding: 25px;
  font-family: "seguisb";
  color: #252525;
  font-size: 18px;
  position: relative; }

/* line 713, ../scss/style.scss */
.member-list {
  text-align: center; }
  /* line 715, ../scss/style.scss */
  .member-list li {
    display: inline-block;
    padding: 0 5px;
    max-width: 160px;
    margin-bottom: 20px;
    vertical-align: top; }
    @media screen and (max-width: 48em) {
      /* line 715, ../scss/style.scss */
      .member-list li {
        max-width: none;
        width: 48%; } }
    /* line 727, ../scss/style.scss */
    .member-list li figure {
      margin-bottom: 8px; }
    /* line 730, ../scss/style.scss */
    .member-list li .name {
      display: block;
      font-size: 17px; }

/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* line 742, ../scss/style.scss */
.wrppetalamat {
  display: block;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252525+0,252525+50,f2cd00+50,f2cd00+100 */
  background: #252525;
  /* Old browsers */
  background: -moz-linear-gradient(left, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #252525), color-stop(50%, #252525), color-stop(50%, #f2cd00), color-stop(100%, #f2cd00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%);
  /* IE10+ */
  background: linear-gradient(to right, #252525 0%, #252525 50%, #f2cd00 50%, #f2cd00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#f2cd00',GradientType=1 );
  /* IE6-9 */ }
  /* line 754, ../scss/style.scss */
  .wrppetalamat .wrapper {
    text-align: left; }
  /* line 757, ../scss/style.scss */
  .wrppetalamat .peta, .wrppetalamat .alamat {
    padding: 15px; }
    @media screen and (min-width: 50em) {
      /* line 757, ../scss/style.scss */
      .wrppetalamat .peta, .wrppetalamat .alamat {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        min-height: 100px; } }
    /* line 766, ../scss/style.scss */
    .wrppetalamat .peta .title, .wrppetalamat .alamat .title {
      font-family: "segoeuib";
      text-align: left;
      font-size: 25px;
      line-height: 1.4em;
      margin-bottom: 20px; }
      @media screen and (min-width: 50em) {
        /* line 766, ../scss/style.scss */
        .wrppetalamat .peta .title, .wrppetalamat .alamat .title {
          font-size: 36px;
          line-height: 33px;
          padding-left: 10px; } }
  /* line 781, ../scss/style.scss */
  .wrppetalamat .peta .title {
    columns: #fff; }
    @media screen and (min-width: 50em) {
      /* line 781, ../scss/style.scss */
      .wrppetalamat .peta .title {
        border-left: #f2cd00 solid 3px; } }
  /* line 787, ../scss/style.scss */
  .wrppetalamat .peta .map {
    color: #fff;
    font-size: 17px; }
  /* line 793, ../scss/style.scss */
  .wrppetalamat .alamat .title {
    border-left: #252525 solid 3px;
    color: #252525; }
  /* line 797, ../scss/style.scss */
  .wrppetalamat .alamat .address {
    font-size: 12px;
    color: #252525;
    line-height: 17px;
    padding-top: 30px;
    padding-bottom: 30px; }
  /* line 804, ../scss/style.scss */
  .wrppetalamat .alamat .socmed {
    margin-bottom: 30px; }
    /* line 806, ../scss/style.scss */
    .wrppetalamat .alamat .socmed a {
      float: left;
      background: #686868;
      color: #fff;
      font-size: 17px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      margin-right: 7px;
      text-align: center;
      padding-top: 6px; }

/* line 821, ../scss/style.scss */
.copyright {
  font-size: 12px;
  text-align: center;
  color: #252525;
  padding: 14px; }

/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 767px) {
  /* line 833, ../scss/style.scss */
  #headerweb .content {
    text-align: center; }

  /* line 838, ../scss/style.scss */
  .mainbaner .maintitle {
    display: none; }

  /* line 842, ../scss/style.scss */
  .wrp-testimoni {
    background: url("../images/bgtestimoni.jpg") center center #252525 no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover; }
    /* line 847, ../scss/style.scss */
    .wrp-testimoni .title {
      display: none; }

  /* line 851, ../scss/style.scss */
  .wrppetalamat {
    background: #f2cd00; }

  /* line 854, ../scss/style.scss */
  .wrpcontent-program .item-content .custom2 {
    height: auto; }

  /* line 858, ../scss/style.scss */
  .topmenu ul {
    display: none;
    float: left;
    width: 100%; }
    /* line 862, ../scss/style.scss */
    .topmenu ul li {
      display: block;
      width: 100%;
      padding: 0;
      text-align: left; }
      /* line 867, ../scss/style.scss */
      .topmenu ul li a {
        padding: 0; }
      /* line 870, ../scss/style.scss */
      .topmenu ul li a:hover {
        border: none; }

  /* line 878, ../scss/style.scss */
  .wrpcontent-program .item-content .boxcontent {
    max-width: none; }
    /* line 880, ../scss/style.scss */
    .wrpcontent-program .item-content .boxcontent h5 {
      max-width: none; }
  /* line 884, ../scss/style.scss */
  .wrpcontent-program .item-content .item-half {
    text-align: center; }
  /* line 887, ../scss/style.scss */
  .wrpcontent-program .item-content .labelbox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }
  /* line 893, ../scss/style.scss */
  .wrpcontent-program .item-content .content, .wrpcontent-program .item-content .content-custom {
    margin-left: 0; }
  /* line 896, ../scss/style.scss */
  .wrpcontent-program .item-content .left-25, .wrpcontent-program .item-content .top-15, .wrpcontent-program .item-content .top-one {
    left: 0;
    top: 0; }
  /* line 900, ../scss/style.scss */
  .wrpcontent-program .item-content .title {
    overflow: hidden;
    margin-bottom: 30px; } }
/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 912, ../scss/style.scss */
  .topmenu ul li {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 917, ../scss/style.scss */
  .topmenu .mainlogo {
    max-width: 180px; }

  /* line 922, ../scss/style.scss */
  .mainbaner .maintitle {
    font-size: 30px; }
    /* line 924, ../scss/style.scss */
    .mainbaner .maintitle hr {
      margin-top: 10px;
      margin-bottom: 10px; }

  /* line 932, ../scss/style.scss */
  .wrpcontent-program .item-content .boxcontent {
    max-width: none; }
    /* line 934, ../scss/style.scss */
    .wrpcontent-program .item-content .boxcontent h5 {
      max-width: none; }
  /* line 938, ../scss/style.scss */
  .wrpcontent-program .item-content .item-half {
    text-align: center; }
  /* line 941, ../scss/style.scss */
  .wrpcontent-program .item-content .labelbox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }
  /* line 947, ../scss/style.scss */
  .wrpcontent-program .item-content .content, .wrpcontent-program .item-content .content-custom {
    margin-left: 0; }
  /* line 950, ../scss/style.scss */
  .wrpcontent-program .item-content .left-25, .wrpcontent-program .item-content .top-15, .wrpcontent-program .item-content .top-one {
    left: 0;
    top: 0; }
  /* line 954, ../scss/style.scss */
  .wrpcontent-program .item-content .title {
    overflow: hidden;
    margin-bottom: 30px; }

  /* line 960, ../scss/style.scss */
  .wrp-testimoni {
    background: url("../images/bgtestimoni.jpg") bottom center no-repeat #252525; }
    /* line 962, ../scss/style.scss */
    .wrp-testimoni .title {
      float: none;
      text-align: center; }
      /* line 965, ../scss/style.scss */
      .wrp-testimoni .title span {
        border-left: none; } }
/* Desktop small screen */
/* Desktop large screen */

/*# sourceMappingURL=style.css.map */
